.about {
    width: 100%;
    

    .container {
        width: 1180px;
        height: 484px;
        margin: 0 auto;
        margin-top: 82px;
        margin-bottom: 82px;

        display: flex;
        justify-content: space-between;

        article {
            width: 585px;

            h1 {
                font-family: @playfair;
                font-weight: 700;
                font-size: 54px;
                color: #603809;
                margin-bottom: 30px;
            }
            p {
                font-family: @playfair;
                font-weight: 400;
                font-size: 20px;
                line-height: 170%;
                color: #707070;
                margin-bottom: 30px;
            }
        }
    }
}